    <div class="card">
        <div>
            <div class="card-global">
{#                <div class="card-img">#}
{#                    <img src="{{article.image}}" width="400" alt="">#}
{#                </div>#}
                <div class="card-txt">
                    <h3>{{ category.title }}</h3>
                    <p class="author">Color: {{category.color}}</p>
                    <p class="published">Description : {{category.description}}</p>
                </div>

                {% for article in category.articles %}
                    <p>{{ article.title }}</p>
                {% endfor %}

                <div class="btns">
                <a class="btn" href= {{ path ('admin_update_category', {'id': category.id}) }}>Modifier la catégorie</a>
                <a class="btn" href= {{ path ('admin_category', {'id': category.id}) }}>Lire plus</a>
                <a class="btn2" href= {{ path ('admin_delete_category', {'id': category.id}) }}>Supprimer la categorie</a>
                </div>
                </div>
        </div>
    </div>
