{% extends 'base.html.twig' %}


{% block main %}
    {{ form_start(form) }}


    {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}

    {{ form_label(form.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.image) }}

    {{ form_label(form.author, 'Auteur', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.author) }}

    {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.content) }}

    {{ form_label(form.category, 'Categorie', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.category) }}

    {{ form_label(form.isPublished, 'Est publié ?', {'label_attr': {'class': 'form-check-label'}}) }}
    {{ form_widget(form.isPublished, {'attr': {'class': 'form-check-label'}}) }}
<br>
<br>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}



    {{ form_end(form) }}


{#<div class="tryform">#}
{#    {{ form (form) }}#}
{#</div>#}
{% endblock %}


{% block footer %}
    <div class="footer">
        <span>© Ate.lcr | Create article</span>
    </div>
{% endblock %}
